<section data-ng-controller="PrefroshesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Prefrosh</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" validate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="prefrosh.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <img ng-src="{{prefrosh.picture}}"/>
                    <label class="control-label" for="picture">Picture</label>
                    <div class="controls">
                        <input type="url" data-ng-model="prefrosh.picture" id="picture" class="form-control" placeholder="Picture">
                    </div>
                    <label class="control-label" for="pdfInfo">Interest Sheet</label>
                    <div class="controls">
                        <input type="text" data-ng-model="prefrosh.pdfInfo" id="pdfInfo" class="form-control" placeholder="Interest Sheet">
                    </div>
                    <label class="control-label" for="lunchDate">Lunch Date</label>
                    <div class="controls">
                        <input type="dateTimeLocal" data-ng-model="prefrosh.lunchDate" id="lunchDate" class="form-control" placeholder="Lunch Date">
                    </div>
                    <label class="control-label" for="dinnerDate">Dinner Date</label>
                    <div class="controls">
                        <input type="dateTimeLocal" data-ng-model="prefrosh.dinnerDate" id="dinnerDate" class="form-control" placeholder="Dinner Date">
                    </div>
                    <label class="control-label" for="dessertDate">Dessert Date</label>
                    <div class="controls">
                        <input type="dateTimeLocal" data-ng-model="prefrosh.dessertDate" id="dessertDate" class="form-control" placeholder="Dessert Date">
                    </div>
                    <label class="control-label" for="comments">Comments</label>
                    <div class="controls">
                        <textarea name="Comments" data-ng-model="prefrosh.comments" id="comments" class="form-control" placeholder="Comments"></textarea>
                    </div>
                    <label class="control-label" for="q1">How well do you know this person? (On a scale from 1 to 10 where 1 is "Haven't even met this person before" and 10 is "We are siblings")</label>
                    <div class="controls">
                        <input type="number" name="Q1" min="1" max="10" data-ng-model="prefrosh.q1" id="q1" class="form-control">
                    </div>
                    <label class="control-label" for="q2">How much do you want them in the House?  (On a scale from 1 to 10 where 1 is "This person is my archnemesis – I hate them" and 10 is "I adore him/her")</label>
                    <div class="controls">
                        <input type="number" name="Q2" min="1" max="10" data-ng-model="prefrosh.q2" id="q2" class="form-control">
                    </div>
                    <label class="control-label" for="q3">How much would you like to live next to them?  (On a scale from 1 to 10 where 1 is "This person is my archnemesis – I hate them" and 10 is "I adore him/her")</label>
                    <div class="controls">
                        <input type="number" name="Q3" min="1" max="10" data-ng-model="prefrosh.q3" id="q3" class="form-control">
                    </div>
                    <label class="control-label" for="q4">How much would they participate in house activities?  (On a scale from 1 to 10 where 1 is "Not at all" and 10 is "They'd be at every house activity")</label>
                    <div class="controls">
                        <input type="number" name="Q4" min="1" max="10" data-ng-model="prefrosh.q4" id="q4" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
